version: '3'

services:

  explorer.mongodb:
    image: mongo:4.0
    command: mongod --smallfiles
    hostname: mongodb
    logging:
      driver: none
    ports:
      - 127.0.0.1:26567:27017
    volumes:
      - mongodb:/data/db

  explorer.backend.api:
    image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    environment:
      - NODE_APP_INSTANCE=$NODE_APP_INSTANCE
      - DB_URL=mongodb://explorer.mongodb:27017/explorer
    restart: always
    volumes:
      - ./public:/app/public
    depends_on:
      - explorer.mongodb
    ports:
      - 26563:26563

volumes:
  mongodb:
